footer {
  padding-bottom: 48px;
  background-color: var(--light-color);
  margin: 0 auto;
  border-top: 8px solid #D92128;
}
footer .footer-wrapper {
  padding: 2rem;
  font-size: var(--body-font-size-s);
}

footer .footer  {
  max-width: 1036px;
  margin: auto;
}

footer .footer .columns-container {
  border-bottom: 1px solid #c6c6c6;
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .footer .columns-container .default-content-wrapper ul {
  list-style: none;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 20px;
  padding-left: unset;
  margin: unset;
}

footer .footer .columns-container .default-content-wrapper h3 {
  font-weight: bold;
  font-size: 14px;
  color: #8d8d8d;
  margin-top: 7px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 20px;
}

footer .footer .columns-container .icon img {
  width: 32px;
  height: 32px;
}

footer .columns-container .default-content-wrapper {
  margin-top: 16px;
}

footer .footer .columns-wrapper {
  margin: unset;
}

footer .columns-wrapper a {
  font-size: 17px;
  line-height: 32px;
  color: black;
  font-weight: 400;
  padding: 2px 8px 0px 0px;
}

footer .footer img {
  width: 250px;
  height: 52px;
}

footer .footer .default-content-wrapper p {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: unset;
  margin-top: unset;
}

footer .footer .default-content-wrapper p:nth-child(2) {
  font-weight: bolder;
  margin-top: 35px;
}

footer .columns {
  margin-bottom: 48px;
}

footer .footer .section .default-content-wrapper {
  margin-top: 54px;
}

footer .footer .section.columns-container .default-content-wrapper {
  margin-top: unset;
}

footer .columns-wrapper a:hover {
  text-decoration: none;
  color: #A5191E;
}

footer .columns div {
  line-height: 33px;
}
